# Binaries (files without an extension)
*
!*.*
!*/

# Atlas workspace
deps/
nim.cfg
deps.dot

# Nimble workspace
nimble.develop
nimble.paths
nimbledeps

.flatpak-builder
.flatpak-repo
*.out
*.flatpak
.claude/
.codex
*.log
build/
